#loader
{
  display:table;
  width: calc(100% - 32px);
  height: calc(100% - 64px);
  position:absolute;
  opacity:1;
}
#loader-row
{
  display:table-row;
  width:100%;
  height:100%;
}
#loader-col
{
  display:table-cell;
  width:100%;
  height:100%;
}
#floatingBarsG
{
  position:absolute;
  width:50px;
  height:50px;
  top:calc(50% - 25px);
  left:calc(50% - 25px);
}

.blockG
{
  position:absolute;
  background-color:#cccccc;
  width:5px;
  height:16px;
  -webkit-border-radius: 6px;
  -webkit-transform:scale(0.4);
  -webkit-animation-name:fadeG;
  -webkit-animation-duration:0.48s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:linear;
  border-radius: 6px;
  transform:scale(0.4);
  animation-name:fadeG;
  animation-duration:0.48s;
  animation-iteration-count:infinite;
  animation-direction:linear;
}

#rotateG_01
{
  left:6.5px;
  top:17px;
  -webkit-animation-delay:0.18s;
  -webkit-transform:rotate(-90deg);
  animation-delay:0.18s;
  transform:rotate(-90deg);
}

#rotateG_02
{
  left:10.5px;
  top:5px;
  -webkit-animation-delay:0.24s;
  -webkit-transform:rotate(-45deg);
  animation-delay:0.24s;
  transform:rotate(-45deg);
}

#rotateG_03
{
  left:22.5px;
  top:0;
  -webkit-animation-delay:0.3s;
  -webkit-transform:rotate(0deg);
  animation-delay:0.3s;
  transform:rotate(0deg);
}

#rotateG_04
{
  right:10.5px;
  top:5px;
  -webkit-animation-delay:0.36s;
  -webkit-transform:rotate(45deg);
  animation-delay:0.36s;
  transform:rotate(45deg);
}

#rotateG_05
{
  right:5.5px;
  top:17px;
  -webkit-animation-delay:0.42000000000000004s;
  -webkit-transform:rotate(90deg);
  animation-delay:0.42000000000000004s;
  transform:rotate(90deg);
}

#rotateG_06
{
  right:10.5px;
  bottom:5px;
  -webkit-animation-delay:0.48s;
  -webkit-transform:rotate(135deg);
  animation-delay:0.48s;
  transform:rotate(135deg);
}

#rotateG_07
{
  bottom: 0;
  left:22.5px;
  -webkit-animation-delay:0.5399999999999999s;
  -webkit-transform:rotate(180deg);
  animation-delay:0.5399999999999999s;
  transform:rotate(180deg);
}

#rotateG_08
{
  left:10.5px;
  bottom:5px;
  -webkit-animation-delay:0.6s;
  -webkit-transform:rotate(-135deg);
  animation-delay:0.6s;
  transform:rotate(-135deg);
}

@-webkit-keyframes fadeG
{
  0%
  {
    background-color:#000000
  }

  100%
  {
    background-color:#ccc
  }

}

@keyframes fadeG
{
  0%
  {
    background-color:#000000
  }

  100%
  {
    background-color:#ccc
  }
}