.picture {
    width: auto;
    height: max-content;
    img {
        border: 1px solid #ebebeb;
        border-radius: 4px;
        width: calc((100vw - 48px) / 3);
        height: calc((100vw - 48px) / 3);
        object-fit: cover;
    }
}

@media (min-width: 700px) {
    .picture {
        img {
            border-radius: 6px;
            width: calc((100vw - 56px) / 4);
            height: calc((100vw - 56px) / 4);
        }
    }
}

@media (min-width: 1020px) {
    .picture {
        img {
            width: calc((100vw - 64px) / 5);
            height: calc((100vw - 64px) / 5);
        }
    }
}

@media (min-width: 1200px) {
    .picture {
        img {
            width: calc((100vw - 72px) / 6);
            height: calc((100vw - 72px) / 6);
        }
    }
}