.input {
    font-size: 16px;
    height: 48px;
    width: calc(100% - 8px - 83px);
    border-radius: 12px;
    padding: 14px 8px 14px 10px;
    display: flex;
    justify-content: left;
    gap: 8px;
    background-color: #EEEEEE;
    input {
        width: calc(100% - 19px - 8px);
        font-size: inherit;
        padding: 0;
        color: #9C9C9C;
        background-color: transparent;

        &:focus {
            background-color: transparent;
            outline: none;
            color: black;
            &::placeholder {
                color: transparent;
            }
        }
    }
    img {
        width: 19px;
        height: auto;
        padding: 0;
        margin: 0;
    }

    .close {
        background-color: red;
    }
}
.searchbar {
    display: flex;
    gap: 8px;
    justify-content: center;
    height: 50px;
    position: fixed;
    z-index: 1;
    background-color: white;
    width: calc(100vw - 32px);
    height: auto;
    padding: 10px 0 16px 0;
    top: 0;
    overflow-x: hidden;
}

.searchbar--start {
    margin-top: 276px;
}

@media (min-width: 700px) {
    .input {
        max-width: 420px;
    }
    .searchbar {
        justify-content: left;
    }
    .searchbar--start {
        width: 100%;
        left: 0;
        justify-content: center;
    }
}

@media (min-width: 1020px) {
    .searchbar {
        padding: 40px 0 16px 0;
    }
    .input {
        &:hover{
            background-color: #E6E6E6;
        }
    }
}
    