.default {
    display: none;
}
.searchInput {
    margin-top: 1px;
    margin-left: auto;
    display: block;
}

.openWindow {
    position: absolute;
    display: block;
    margin-left: auto;
    object-fit: cover;
    background-color: transparent;
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 0;
    width: 32px;
    height: 32px;
    z-index: 2;
}

@media (min-width: 1020px) {
    .openWindow {
        top: 24px;
        right: 28px;
    }
}