.default {
    display: none;
}
.searchInput {
    margin-top: 1px;
    margin-left: auto;
    display: block;
}

.openWindow {
    width: 40px;
    display: block;
    margin-left: auto;
    padding: 16px 8px;
    height: auto;
    object-fit: cover;
}

@media (min-width: 1020px) {
    .openWindow {
        background-color: transparent;
        position: absolute;
        top: 24px;
        right: 28px;
        padding: 0;
        width: 32px;
        height: 32px;
    }
}