.default {
    display: none;
}
.visible {
    margin-top: 1px;
    margin-left: auto;
    display: block;
}

.right {
    width: 55px;
    background: transparent;
    display: block;
    margin-left: auto;
    padding: 8px 16px;
}