.open {
    overflow: hidden;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #eee;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 0; 
    z-index: 1;
    & > img {
        z-index: 1;
        width: 100%;
        height: auto;
        object-fit: cover;
        overflow-x: hidden;
    }
}

@media (min-width: 1020px) {
    .open {
        background-color: rgba(0, 0, 0, 0.3);
        top: 0;
        left: 0;
        border: none;
        border-radius: 0;

        & > img {
            padding: 40px 92px 40px 80px;
            height: 100%;
            width: auto;
        }
    }
}