.open {
    position: absolute;
    background-color: white;
    border: 1px solid #eee;
    top: 16px;
    left: -1px;
    width: calc(100vw + 2px);
    height: 100vh;
    border-radius: 12px; 
    z-index: 2;
    img {
        width: 100%;
        height: auto;
    }
}